.twenty-margin {
    margin: 20px;
}

.book-table-col {
    margin: 20px;
    padding: 20px;
}

.company-image {
    width: 120px;
    margin: 20px;
}

.avatar-image {
    width: 200px;
    /*border-radius: 50%;*/
}

.fifty-height {
    height: 50px;
}

.header-text-area {
    /*background-color: rgba(255, 255, 255, 0.9);*/
}

.header-text {
    font-weight: bold;
}